{% extends "base.html" %}

{% block content %}

		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title"><strong>Favorite tags ~&nbsp;<span class="glyphicon glyphicon-tags"></span></h3>
		  </div>
		  <div id="wrapper"  class="panel-body">
			<a href="#" class="text-muted" >,김수안</a>
			<a href="#" class="text-primary" >,김지윤</a>
			<a href="#" class="text-success" >,코코징</a>
			<a href="#" class="text-info" >,소리씨나에게와요</a>
			<a href="#" class="text-warning" >,cyblack</a>
			<a href="#" class="text-danger" >,신원식</a>
		  </div>
		</div>
		
		

		<span class="label label-default">Default</span>
		<span class="label label-primary">Primary</span>
		<span class="label label-success">Success</span>
		<span class="label label-info">Info</span>
		<span class="label label-warning">Warning</span>
		<span class="label label-danger">Danger</span>
	</div>

{% endblock %}
