{% extends "base.html" %}
{% block content %}

	<style>
		#wrapper {
			text-align:center; /* for main.html */
		}
		#wrapper .menu_icon{
			font-size:2em;
			padding: 0 2%;
		}
		#wrapper a{white-space : nowrap; /* for main.html */}
		@media screen and (max-width:480px){
			#wrapper .menu_icon {font-size:2.1em; padding: 0 0;} /*for main.html*/
		}
		
		a[class*="tagd"]:hover{
			background:#FFF200;
		}
	</style>


<div id="wrapper">
	<a id="make_prob" href="#"><span class="menu_icon glyphicon glyphicon-pencil" style="color:#13499F"></span></a>
	<a id="chat_memo" href="#"><span class="menu_icon glyphicon glyphicon-comment" style="color:#FFCD12"></span></a>
	<!--<a id="" href="#"><span class="menu_icon glyphicon glyphicon-send" style="color:#B2EBF4"></span></a>-->
	<a id="help_me" href="{{url_for('schedule')}}"><span class="menu_icon glyphicon glyphicon-calendar" style="color:#B2EBF4"></span></a>
	<a id="favorite_menu" href="{{url_for('favorite_list')}}"><span class="menu_icon glyphicon glyphicon-star" style="color:#FFF200"></span></a>
	<br>
	{% for tag in tags %}
		<a href="{{url_for('problem_list', tag_id=tag.id, prob_id=" ")}}" class="tagd text-{{textcolor[loop.index0%6]}}" >{{tag.id}}</a>
	{% endfor %}
	<br>
</div>

<script>

$(function(){
	{% if mpmodal_open %}
		$('#mpModal').modal()
	{% endif %}
	$('#make_prob').click(function(){
		$('#mpModal').modal()
	})
})

</script>

<!--Modal -->
<div class="modal fade" id="mpModal" tabindex="-1" role="dialog" aria-labelledby="mpModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="mpModalLabel"><span class="menu_icon glyphicon glyphicon-star" style="color:#FFE400"></span>글쓰기</h4>
      </div>
      <div class="modal-body">
	{% for message in get_flashed_messages() %}
		<div class="col-md-12  alert alert-info">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{message}}
		</div>
	{% endfor %}
<!---------------------------------------------------------------------------------------------------------------------------------------->        
	{% include "make_problem.html" %}
<!---------------------------------------------------------------------------------------------------------------------------------------->        
      <br> 
      </div>
      <div class="modal-footer bg-success">
		&nbsp;
      </div>
    </div>
  </div>
</div>
		
	<script>
		$(function() {
			$( ".tagd" ).draggable({revert:true, helper:"clone"});
			$( "#favorite_menu" ).droppable({
				drop: function( event, ui ) {

		  		}, activate: function(event, ui){
					$('#favorite_menu span').css('color', '#FF5E00');

				}, deactivate: function(event, ui){
					$('#favorite_menu span').css('color', '#FFF200');

				}, over: function(event, ui){
					tag_id = ui.draggable.text()
					$.ajax({
						url: '/add_favorite/' + tag_id,
						type: 'GET',
						success: function(data){
							if (data == "already")
								$('#fvModal .modal-body').html('<center><h1><span class="menu_icon glyphicon glyphicon-star" style="color:#FFE400"></span><span style="color:red">' + tag_id + '</span>' + "은 이미 즐겨찾기 등록된 태그입니다!</h1></center>");
							else 
								$('#fvModal .modal-body').html('<center><h1><span class="menu_icon glyphicon glyphicon-star" style="color:#FFE400"></span><span style="color:red">' + tag_id + '</span>' + "을 즐겨찾기에 추가!</h1></center>");

							$('#fvModal').modal();
						}
					})		

				}, out: function(event, ui){
					$('#favorite_menu span').css('color', '#FF5E00');
				}
			});
		});
	</script>


<!--Modal -->
<div class="modal fade" id="fvModal" tabindex="-1" role="dialog" aria-labelledby="fvModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="fvModalLabel"><span class="menu_icon glyphicon glyphicon-star" style="color:#FFE400"></span>즐겨찾기 추가</h4>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer bg-info">
        <button type="button" class="btn btn-default" data-dismiss="modal">확인</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
