<!-- include codemirror (codemirror.css, codemirror.js, xml.js, formatting.js) -->

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.min.css" />
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/theme/monokai.min.css" />
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/codemirror.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/3.20.0/mode/xml/xml.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/codemirror/2.36.0/formatting.min.js"></script>
	
	<!--플래시 메시지 띄워주기 여기 에-->
	<form action="{{url_for('make_problem')}}" method="POST"  role="form">
	 {{ form.hidden_tag() }}
	  <div class="form-group">
	    <label for="quest"  style="color:#FFC708; font-weight:bold; font-size:3em;">{{form.title.label}}</label>
	     	{{form.title(style="border-color:skyblue;", class="form-control", id='quest', placeholder="문제가 뭐요?")}}
	  </div>
	  {{form.content(id="summernote")}}

	  <br>
	  <span style="color:skyblue; font-weight:bold; font-size:3em;">{{form.tag.label}}</span>
	  <span style="color:gray">질문을 위한 태그를 선택해 주세요</span>
	  {{form.tag()}}
	  <div style="background-color:#EAEAEA">
		{% for tag in tags %}
			{% if loop.index0%7 == 0 %}
				<a href="#" class="tagc text-muted" style="font-size:1.5em;padding:1%">{{tag.id}}</a>

			{% elif loop.index0%7 == 1 %}
				<a href="#" class="tagc text-primary" style="font-size:1.5em;padding:1%">{{tag.id}}</a>

			{% elif loop.index0%7 == 2 %}
				<a href="#" class="tagc text-success" style="font-size:1.5em;padding:1%">{{tag.id}}</a>

			{% elif loop.index0%7 == 3 %}
				<a href="#" class="tagc text-info" style="font-size:1.5em;padding:1%">{{tag.id}}</a>

			{% elif loop.index0%7 == 4 %}
				<a href="#" class="tagc text-danger" style="font-size:1.5em;padding:1%">{{tag.id}}</a>

			{% elif loop.index0%7 == 5 %}
				<a href="#" class="tagc text-muted" style="font-size:1.5em;padding:1%">{{tag.id}}</a>

			{% elif loop.index0%7 == 6 %}
				<a href="#" class="tagc text-warning" style="font-size:1.5em;padding:1%">{{tag.id}}</a>

			{% endif %}	
		{% endfor %}
	  </div>
<script>
	$(function(){
		$('.tagc').click(function(){
			$('#tag').val($(this).text())
			$('.tagc').css('background','none');
			$(this).css('background','#FFF612');
			return false
		})
	})
</script>
	  <br>
	  <span style="color:#9FC93C; font-weight:bold; font-size:3em;">{{form.newtag.label}}</span>
	  <span style="color:gray">마음에 드는 태그가 없다면 새로 만들어 주세요</span>
	  {{form.newtag(style='border-color:#9FC93C;', class="form-control",   placeholder="새로운 태그명")}}

	  <br>
	  <span style="color:#FFB2F5; font-weight:bold; font-size:3em;"> {{form.file.label}}</span>
	  <span style="color:gray">업로드 취소 방법은; 파일 선택 클릭후 취소 클릭!</span>
  	  {{form.file()}}
	  <br>
          <button id="submitbtn"  type="submit" class="btn btn-info col-lg-12 col-xs-12"><strong>등록! =_-</strong></button>
          <br>
	</form>
 	<br>
        <button data-dismiss="modal" type="button" class="btn btn-warning col:-lg-12 col-xs-12"><strong>안써! -_=</strong></button>

<script>
  $(document).ready(function() {
	$("#submitbtn").click(function(){
		if ($('#newtag').val().length > 0)
			$('#tag').val($('#newtag').val())
		return true
	})
    $('#summernote').summernote({
     height: 150,                 // set editor height

     minHeight: null,             // set minimum height of editor
     maxHeight: null,             // set maximum height of editor

     focus: true,                 // set focus to editable area after initializing summernote
     toolbar: [
       //[groupname, [button list]]
	         
       ['style', ['bold', 'underline', 'clear', 'color']],
       ['font', ['strikethrough']],
       ['fontsize', ['fontsize']],
       ['para', ['ul', 'ol' ]],
       ['insert', ['picture', 'video', 'link']],
	['misc', ['codeview']]
     ],
     codemirror: {
	theme: 'monokai'
     }     
   });
  });
</script>

