{% extends "base.html" %}
{% block content %}

	<style>
		#list_title {
			font-weight: bold;
			font-size: 2em;
		}
			#list_title span{
				color: #353535;
			}
		.list_menu {
			font-size: 2.5em;
		}
		.list_tag{
			color : #3DB7CC ;
			font-size: 1.5em;
		}

		@media screen and (max-width:480px){
			#list_title{
				font-size: 1.5em;
			}	
			.list_menu{
				font-size: 2em;
			}
			.list_tag{
				font-size: 1.2em;	
			}
		}

		a[class*="list_tag"]:hover{
			background:#FFF612;
		}

		a[id*="list_title"]:hover{
			background:#FFF612;
		}
	</style>

<div class="col-md-8 col-md-offset-2">
   	 <div id="list_content" class="list-group text-center">
			<div id="topmenu" class="list-group-item list-group-item-danger" >
				<strong>Problem lists of </strong>
				<a id="list_title"  href="{{url_for('problem_list', tag_id=tag.id, prob_id=" ")}}">
					<span class="text-primary" style="font-weight:normal" >&nbsp;#{{tag.id}}</span>
				</a><br>
				<strong>/Double_hash_tags/</strong>
				<!-- hash tag list -->
				<div id="sortable">
					{% if tags|length != 0%}
						{% for tag in tags %}
						<a href="#" class="list_tag">&nbsp;{{tag}}&nbsp;</a>
						{% endfor %}
					{% else %}
						등록된 해시태그가 없습니다!
					{% endif %}
						
				</div>
				<a id="make_prob" href="#"><span class="list_menu glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;
			</div>
			{% for problem in problems %}
				{% if problem_colors|length != 0%}
				<a href="#" class="prob list-group-item list-group-item-{{problem_colors[loop.index0]}}" value="{{problem.id}}">{{problem.title}}</a>
				{% else %}
				<a href="#" class="prob list-group-item list-group-item-warning" value="{{problem.id}}">{{problem.title}}</a>
				{% endif %}
			{% endfor %}
		</div>
  	</div>
</div>

<script>
	sol_content = "None"
	prob_id = ""
	open = false; //for summernote flag

	$(function(){
		// sModal_open이 정의되있으면 prob_id도 정의되있음.	
		{% if sModal_open %}
			$('#ctModal').modal({
				backdrop: 'static',
				keyboard: false	
			})
			$.ajax({
				url: '/get_problem/' + {{prob_id}},
				type: 'GET',
				//data: {
				//name: 'test',
				//region: 'test'
				//},
				dataType: "JSON",
				success: function(data){
					sol_content = data.sol_content
					$('#sol_form').attr("action", "/problem_list/" + data.tag_id + "/" + data.prob_id)
					$('#problem_content').html(data.prob_content)
					$('#problem_title').html(data.prob_title)
					$('#solution_content').html(data.sol_content)
					$('#ctModal').modal()
					
					$('#sol_summernote').hide()
				}
			})		
		{% endif %}
		
		function getListOfHtags(){
			var output = ""
			$('.list_tag').each(function(index, item){
				text =  $('.list_tag').eq(index).text() 
				if (index == 0) output = $.trim(text);
				else output += "," + $.trim(text);
			})	
			return output	
		}


		$('#sortable').sortable({
			update: function(event, ui){
				$.get('/update_htags/{{tag.id}}',{
					listOfHtags : getListOfHtags()		
				}, function(data) {
					// 바꿔주기
					window.location.reload()
				})
			}
		})
		
		$('.list_tag').click(function(){
			$.ajax({
				url: '/problems_of',
				type: 'POST',
				data: {
					htag: $.trim($(this).text()),
					tag_id: "{{tag.id}}"
				},
				dataType: "JSON",
				success: function(data){
					$('.prob').each(function(index, item){
					// ($('.prob').eq(index).remove() 
						$('.prob').first().remove()
					})
					$.each(data, function(index, item){
						$('<a href="#" class="prob list-group-item list-group-item-warning" value="'
							+ data[index][0] +'">'+ data[index][1] + '</a>').insertAfter('#topmenu')
					})
					makeClickable()
				}
			})
		})
	
		function makeClickable(){
			$('.prob').click(function(){
				$.ajax({
					url: '/get_problem/' + $(this).attr("value"),
					type: 'GET',
					//data: {
					//name: 'test',
					//region: 'test'
					//},
					dataType: "JSON",
					success: function(data){
						sol_content = data.sol_content
						prob_id = data.prob_id
						// 여기서 서머노트 디스트로이하고 숨겨야돼
						$('#sol_form').attr("action", "/problem_list/" + data.tag_id + "/" + data.prob_id)
						$('#problem_content').html(data.prob_content)
						$('#problem_title').html(data.prob_title)
						$('#solution_content').html(data.sol_content)
						$('#ctModal').modal({
							backdrop: 'static',
							keyboard: false	
						})
					}		
	
				})
				return false
			})	
		}
		
		makeClickable()

		$('#prob_del_btn').click(function(){
			$.get('/delete_problem/'+ prob_id,{
				// empty		
			}, function(data) {
				// 바꿔주기
				if (data == "tag_deleted")
					window.location.href="/main"
				else
					window.location.reload()
				
			})
		})



		//$(window).scroll(function() {
 		//	if($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
       		//		alert("near bottom!");
  		//	}
		//});

		$(window).scroll(function() {
   			if($(window).scrollTop() + $(window).height() == $(document).height()) {
				$('#list_content').append()
   			}
		});

		// button in the make solution modal		
		$('#sol_exitbtn').click(function(){
			$('#sol_summernote').destroy()
			$('#sol_summernote').hide()
			open = false // summer note open flag -> init status
			return true
		})



		function createNote(){
   			$('#sol_summernote').summernote({
					height: 150,                 // set editor height

					minHeight: null,             // set minimum height of editor
					maxHeight: null,             // set maximum height of editor

					focus: true,                 // set focus to editable area after initializing summernote
					toolbar: [
					//[groupname, [button list]]
	         
					['style', ['bold', 'underline', 'clear', 'color']],
					['font', ['strikethrough']],
					['fontsize', ['fontsize']],
					['para', ['ul', 'ol' ]],
					['insert', ['picture', 'video', 'link']],
					['misc', ['codeview']]
				],
				codemirror: {
				theme: 'monokai'
				}     
			});
		}

		// 맨처음엔 숨겨놔야 한다.(누르기전에)
		$('#sol_summernote').hide()

		$('#sol_submitbtn').click(function(){
			if (!open){
				$('#sol_summernote').show()
				createNote();
				$('.note-editable').html(sol_content)
				open = true;

				$('#solution_content').html("")

			return false;
			} else {
				//$('#sol_summernote').destroy()
				//$('#sol_summernote').hide()
				// open = false;
				return true;
			}
			//return false;

		})	
  	});
</script>

<!-- Problem list 에문제 클릭하면 나오는 모달창 -->
<!-- Modal -->
<div class="modal fade" id="ctModal" tabindex="-1" role="dialog" aria-labelledby="ctModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ctModalLabel">
		<!-- ajax로 problem_title 채워줌-->
		<span class="menu_icon glyphicon glyphicon-star" style="color:red"></span>{{tag.id}}&nbsp;<span id="problem_title"></span>
	</h4>
      </div>
      <div class="modal-body">	
		<!-- ajax로 채우는 부분 -->
		<p id="problem_content"></p>
		<hr>
		<div class="panel panel-info">
		  <div class="panel-heading">
 		   <h3 class="panel-title">Solution modified by <abbr title="멍텅구리"><strong>whom</strong></abbr></h3>
		  </div>
		  <div class="panel-body">
			<p id="solution_content">
			</p>
			<!--플래시 메시지 띄워주기 여기 에-->
			<form id="sol_form" action="#"  method="POST"  role="form">
				{{ solForm.hidden_tag() }}
				{{ solForm.content(id="sol_summernote")}}
				<br>
      				<button id="sol_submitbtn"  type="submit" class="btn btn-info col-lg-12 col-xs-12">해결책 쓰기/수정</button>
         			<br>
			</form>
			
 		 </div>
		</div>
      </div>
      <div class="modal-footer  bg-success">
        <button type="button" id="prob_del_btn" class="btn btn-danger" >문제 삭제</button>
        <button type="button" class="btn btn-warning" >문제 수정</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="sol_exitbtn">나가기</button>
      </div>
    </div>
  </div>
</div>





<script>
$(function(){
	{% if mpmodal_open %}
		$('#mpModal').modal({
			backdrop: 'static',
			keyboard: false	
		})
	{% endif %}
	$('#make_prob').click(function(){
		$('#mpModal').modal({
			backdrop: 'static',
			keyboard: false	
		})
	})
	$('#mp_exitbtn').click(function(){
		$('#prob_summernote').destroy()
		$('#prob_summernote').hide()
	})
})

</script>

<!--Modal -->
<div class="modal fade" id="mpModal" tabindex="-1" role="dialog" aria-labelledby="mpModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="mpModalLabel"><span class="menu_icon glyphicon glyphicon-star" style="color:#FFE400"></span>글쓰기#{{tag.id}}</h4>
      </div>
      <div class="modal-body">
	{% for message in get_flashed_messages() %}
		<div class="col-md-12  alert alert-info">
		<button  type="button"  class="close" data-dismiss="alert">&times;</button>
		{{message}}
		</div>
	{% endfor %}
<!---------------------------------------------------------------------------------------------------------------------------------------->        
	{% include "make_problem_in_listpage.html" %}
<!---------------------------------------------------------------------------------------------------------------------------------------->        
      <br> 
      </div>
      <div class="modal-footer bg-success">
		&nbsp;
      </div>
    </div>
  </div>
</div>
{% endblock %}
