{% extends "base.html" %}
{% block content %}

	<style>
		#list_title {
			font-weight: bold;
			font-size: 2em;
		}
			#list_title span{
				color: #353535;
			}
		.list_menu {
			font-size: 2.5em;
		}
		.list_tag{
			color : #3DB7CC ;
			font-size: 1.5em;
		}

		@media screen and (max-width:480px){
			#list_title{
				font-size: 1.5em;
			}	
			.list_menu{
				font-size: 2em;
			}
			.list_tag{
				font-size: 1.2em;	
			}
		}

		a[class*="list_tag"]:hover{
			background:#FFF612;
		}

		a[id*="list_title"]:hover{
			background:#FFF612;
		}
	</style>

<div class="col-md-8 col-md-offset-2">
   	 <div id="list_content" class="list-group text-center">
			<div  class="list-group-item list-group-item-danger" >
				<strong>Problem lists of </strong>
				<a id="list_title"  href="{{url_for('problem_list', tag_id=tag.id, prob_id=" ")}}">
					<span class="text-primary" style="font-weight:normal" >&nbsp;#{{tag.id}}</span>
				</a><br>
				<strong>/Double_hash_tags/</strong>
				<!-- hash tag list -->
				<div id="sortable">
					{% if tags|length != 0%}
						{% for tag in tags %}
						<a href="#" class="list_tag">&nbsp;{{tag}}&nbsp;</a>
						{% endfor %}
					{% else %}
						등록된 해시태그가 없습니다!
					{% endif %}
						
				</div>
				<a href="#"><span style="color:#541300" class="list_menu glyphicon glyphicon-ok-circle"></span></a>&nbsp;&nbsp;
				<a href="#"><span style="color:#AF4848" class="list_menu glyphicon glyphicon-remove-circle"></span></a>&nbsp;&nbsp;
				<a id="make_prob" href="#"><span style="color:#541300" class="list_menu glyphicon glyphicon-pencil"></span></a>&nbsp;&nbsp;
			</div>
			{% for problem in problems %}
				{% if problem_colors|length != 0%}
				<a href="#" class="prob list-group-item list-group-item-{{problem_colors[loop.index0]}}" value="{{problem.id}}">{{problem.title}}</a>
				{% else %}
				<a href="#" class="prob list-group-item list-group-item-warning" value="{{problem.id}}">{{problem.title}}</a>
				{% endif %}
			{% endfor %}
		</div>
  	</div>
</div>

<script>
	sol_content = "None"
	prob_id = ""

	$(function(){
		// sModal_open이 정의되있으면 prob_id도 정의되있음.	
		{% if sModal_open %}
			$('#ctModal').modal()
			$.ajax({
				url: '/get_problem/' + {{prob_id}},
				type: 'GET',
				//data: {
				//name: 'test',
				//region: 'test'
				//},
				dataType: "JSON",
				success: function(data){
					sol_content = data.sol_content
					$('#sol_form').attr("action", "/problem_list/" + data.tag_id + "/" + data.prob_id)
					$('#problem_content').html(data.prob_content)
					$('#problem_title').html(data.prob_title)
					$('#solution_content').html(data.sol_content)
					$('#ctModal').modal()
				}
			})		
		{% endif %}
		
		function getListOfHtags(){
			var output = ""
			$('.list_tag').each(function(index, item){
				text =  $('.list_tag').eq(index).text() 
				if (index == 0) output = $.trim(text);
				else output += "," + $.trim(text);
			})	
			return output	
		}


		$('#sortable').sortable({
			update: function(event, ui){
				$.get('/update_htags/{{tag.id}}',{
					listOfHtags : getListOfHtags()		
				}, function(data) {
					// 바꿔주기
					window.location.reload()
				})
			}
		})
	
		$('.prob').click(function(){
			$.ajax({
				url: '/get_problem/' + $(this).attr("value"),
				type: 'GET',
				//data: {
				//name: 'test',
				//region: 'test'
				//},
				dataType: "JSON",
				success: function(data){
					sol_content = data.sol_content
					prob_id = data.prob_id
					$('#sol_form').attr("action", "/problem_list/" + data.tag_id + "/" + data.prob_id)
					$('#problem_content').html(data.prob_content)
					$('#problem_title').html(data.prob_title)
					$('#solution_content').html(data.sol_content)
					$('#ctModal').modal()
				}		

			})
			return false
		})	


		$('#prob_del_btn').click(function(){
			$.get('/delete_problem/'+ prob_id,{
				// empty		
			}, function(data) {
				// 바꿔주기
				if (data == "tag_deleted")
					window.location.href="/main"
				else
					window.location.reload()
				
			})
		})



		//$(window).scroll(function() {
 		//	if($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
       		//		alert("near bottom!");
  		//	}
		//});

		$(window).scroll(function() {
   			if($(window).scrollTop() + $(window).height() == $(document).height()) {
				$('#list_content').append()
   			}
		});


	})
</script>


<!-- Problem list 에문제 클릭하면 나오는 모달창 -->
<!-- Modal -->
<div class="modal fade" id="ctModal" tabindex="-1" role="dialog" aria-labelledby="ctModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="ctModalLabel">
		<!-- ajax로 problem_title 채워줌-->
		<span class="menu_icon glyphicon glyphicon-star" style="color:red"></span>{{tag.id}}#<span id="problem_title"></span>
	</h4>
      </div>
      <div class="modal-body">	
		<!-- ajax로 채우는 부분 -->
		<p id="problem_content"></p>
		<hr>
		<div class="panel panel-info">
		  <div class="panel-heading">
 		   <h3 class="panel-title">Solution modified by <abbr title="멍텅구리"><strong>whom</strong></abbr></h3>
		  </div>
		  <div class="panel-body">
			<p id="solution_content">
			</p>
			{% include "make_solution.html" %}
 		 </div>
		</div>
      </div>
      <div class="modal-footer  bg-success">
        <button type="button" id="prob_del_btn" class="btn btn-danger" >문제 삭제</button>
        <button type="button" class="btn btn-warning" >문제 수정</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">나가기</button>
      </div>
    </div>
  </div>
</div>





<script>
$(function(){
	{% if mpmodal_open %}
		$('#mpModal').modal()
	{% endif %}
	$('#make_prob').click(function(){
		$('#mpModal').modal()
	})
})

</script>

<!--Modal -->
<div class="modal fade" id="mpModal" tabindex="-1" role="dialog" aria-labelledby="mpModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-success">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="mpModalLabel"><span class="menu_icon glyphicon glyphicon-star" style="color:#FFE400"></span>글쓰기#{{tag.id}}</h4>
      </div>
      <div class="modal-body">
	{% for message in get_flashed_messages() %}
		<div class="col-md-12  alert alert-info">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{message}}
		</div>
	{% endfor %}
<!---------------------------------------------------------------------------------------------------------------------------------------->        
	{% include "make_problem_in_listpage.html" %}
<!---------------------------------------------------------------------------------------------------------------------------------------->        
      <br> 
      </div>
      <div class="modal-footer bg-success">
		&nbsp;
      </div>
    </div>
  </div>
</div>
{% endblock %}
