<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Study for share</title>
	<link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
	
	<style>
		#title {
			font-size:6em;	
			color:black;
			text-decoration: none;
		}
		@media screen and (max-width:480px){
			#title{font-size:3em; border-bottom: 1px solid gray;}
		}
	</style>
</head>
<body>
	


	<div class="container">
		

		<center>
			<a href="/" id="title" class="text-center">Study4Share</a>
		</center>
		
		<div class="list-group">
			<a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis in<span class="label label-danger">new</span></a>
			<a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh libero</a>
			<a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur ac</a>
			<a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
			<a href="#" class="list-group-item list-group-item-success">Dapibus ac facilisis in</a>
			<a href="#" class="list-group-item list-group-item-info">Cras sit amet nibh libero</a>
			<a href="#" class="list-group-item list-group-item-warning">Porta ac consectetur ac</a>
			<a href="#" class="list-group-item list-group-item-danger">Vestibulum at eros</a>
		</div>

		<span class="label label-default">Default</span>
		<span class="label label-primary">Primary</span>
		<span class="label label-success">Success</span>
		<span class="label label-info">Info</span>
		<span class="label label-warning">Warning</span>
		<span class="label label-danger">Danger</span>
	</div>




</body>
</html>
